@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

.converter {
  user-select: none;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Varela Round', sans-serif;
  background-color: #25E7B1;
  margin: 30px auto;
  padding: 30px;
  width: auto;
  max-width: 500px;
  height: auto;
  border-radius: 6px;
  border: none;
  border-top: 1px solid #C0FDEC;
  border-left: 1px solid #C0FDEC;
  box-shadow: 0 0 12px rgba(0,0,0,0.5);
  transition: box-shadow 200ms;
  &:hover {
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
  }
  .factor {
    font-family: 'Varela Round', sans-serif;
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
    width: 200px;
    height: 30px;
    border: none;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.3);
    &:focus {
      outline: 3px solid rgba(255, 165, 0, 0.5);
    }
  }
  .currency-pairs {
    font-family: 'Varela Round', sans-serif;
    border-radius: 4px;
    height: 40px;
    width: 208px;
    border: none;
    margin: 4px;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.3);
    &:focus {
      outline: 3px solid rgba(255, 165, 0, 0.5);
    }
  }
  .value {
    margin-left: 4px;
  }
}
