<div class="converter">
  <select (change)="findPair($event)" class="currency-pairs" name="currency-pairs">
    <option value="Select currency pair">Select currency pair</option>
    <option *ngFor="let pair of service.currencyPairs; let i = index" type="text" name="" value="{{service.currencyPairs[i]}}">{{service.currencyPairs[i]}}</option>
  </select>
  <input [(ngModel)]="factor" class="factor" placeholder="Amount" type="text" name="" value="">
  <h2 class="value">Value: {{(currencyPair | async) * factor | number:'1.0-8'}}</h2>
</div>
