<div class="converter">
  <select (change)="findPair($event)" class="currency-pairs" name="currency-pairs">
    <option value="Select currency pair">Select currency pair</option>
    <option *ngFor="let pair of currencyPairs; let i = index" type="text" name="" value="{{currencyPairs[i]}}">{{currencyPairs[i]}}</option>
  </select>
  <input [(ngModel)]="factor" class="factor" placeholder="Amount" type="text" name="" value="">
  <h2 class="value">{{factor}} Value: {{currencyPair | async}}</h2>
</div>
