@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

.price-card {
  user-select: none;
  overflow: hidden;
  font-family: 'Varela Round', sans-serif;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  background: darkorange;
  height: 150px;
  width: 200px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  transition: box-shadow 150ms, transform 150ms, background-color 150ms;
  &:hover {
    box-shadow: 4px 12px 12px rgba(0, 0, 0, 0.4);
    transform: translateY(-6px);
    background-color: orange;
  }
  .price-head {
    font-size: 20px;
    height: 30%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px 5px 0 0;
    transition: box-shadow 150ms;
    &:hover {
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    }
    .triangle {
      height: 0;
      width: 0;
      border: 7px solid transparent;
      margin-left: 5px;
      &.rise {
        border-bottom: 10px solid green;
        position: relative;
        top: -5px;
      }
      &.fall {
        border-top: 10px solid red;
        position: relative;
        top: 3px;
      }
    }
  }
  .price-num {
    pointer-events: none;
    height: 70%;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
